In [26]:
from dataset import tdsc

ModuleNotFoundError: No module named 'dataset'

In [14]:
dataset = TDSC()

        label           data_path           mask_path
case_id
0           M  DATA\DATA_000.nrrd  MASK\MASK_000.nrrd
1           B  DATA\DATA_001.nrrd  MASK\MASK_001.nrrd
2           M  DATA\DATA_002.nrrd  MASK\MASK_002.nrrd
3           M  DATA\DATA_003.nrrd  MASK\MASK_003.nrrd
4           B  DATA\DATA_004.nrrd  MASK\MASK_004.nrrd

In [22]:
x = meta.iloc[0]
print(x.mask_path)

MASK\MASK_000.nrrd

In [23]:
print (len(meta))

100

In [25]:
a = "ali\\hassan"
a = a.replace('\\', '/')
print(a)

ali/hassan