In [28]:
import pandas as pd
import numpy as np
import nrrd
import shutil
import os
import matplotlib.pyplot as plt

In [3]:
dataset = pd.read_csv(f"./data/tdsc/bbx_labels.csv", dtype={'Case_id': int, 'Label': str, 'Data_path': str, 'Mask_path': str}).set_index('id')

In [4]:
dataset.head()

      c_x    c_y    c_z  len_x  len_y  len_z
id
0   249.5  142.0  376.0     35    256    114
1   111.5  112.5  690.5     15     77     63
2   166.5  150.0  462.0     47    266    184
3   284.5  175.0  505.5     43    220    115
4   126.0  118.5  274.5     12     91     57

In [33]:
sample = dataset.loc[4,:]
x, y, z = sample["c_x"], sample["c_y"], sample["c_z"]
xl, yl, zl = sample["len_x"], sample["len_y"], sample["len_z"]
print(sample)
print(xl,yl, zl)
print(x,y,z)

c_x      126.0
c_y      118.5
c_z      274.5
len_x     12.0
len_y     91.0
len_z     57.0
Name: 4, dtype: float64
12.0 91.0 57.0
126.0 118.5 274.5

In [34]:
x = int(x) - 10
y = int(y) - 10
z = int(z) - 10
xl = int(xl) + 10
yl = int(yl) + 10
zl = int(zl)

In [38]:
vol, _ = nrrd.read("./data/tdsc/train/data/b/4.nrrd")
mask, _ = nrrd.read("./data/tdsc/train/mask/b/4.nrrd")
print(vol.shape)
print(mask.shape)

(865, 608, 330)

In [36]:
print(vol[x:x+xl,y:y+yl,z:z+zl].shape)

(22, 101, 57)

In [37]:
x = vol[x:x+xl,y:y+yl,z:z+zl]
m = mask[x:x+xl,y:y+yl,z:z+zl]

TypeError: only integer scalar arrays can be converted to a scalar index

In [31]:
plt.imshow(y[:,:,0])

TypeError: 'int' object is not subscriptable